.b-header {
  height: 135px;
  position: relative;
}

@media (max-width:800px) {
    .b-header {
        height: 185px;
//        position: relative;
//        margin-top: 0;
    
//        flex-direction: column;
//        align-items: flex-start;
    }
    .b-navHeader_position {
        position: relative;
    }
}